@charset "utf-8";
/* CSS Document */
*{
	border:0px;
	padding:0px;
	margin:0px;
}
body{
	font-size:18px;
	width:510px;
	height:700px;
	background:#ECECEC;
	}
	
#box{
	width:1000px;
	height:700px;
	margin:0px auto 0px auto;
	background:#ccf;
	}
	
#header{
	height:150px;
	border-bottom:#3890d7 solid 2px;
	}
#logo{
	float:left;
	padding-left:50px;
	margin:25px;
	
	}
.button{
	list-style:none;
	float:right;
	display:block;
	border:#3890d7 2px solid;
	border-radius:5px;
	color:#3890d7;
	font-family:"Lucida Console", Monaco, monospace;
	font-size:24px;
	margin:60px 50px 60px 10px;
	padding:5px;
	font-stretch:narrower;
	}
.button_table{
	list-style:none;
	border:#3890d7 1px solid;
	border-radius:5px;
	color:#3890d7;
	font-family:"Lucida Console", Monaco, monospace;
	font-size:24px;
	font-stretch:narrower;
}
.button_list_table{
	
	list-style:none;
	border:#3890d7 1px solid;
	width:120px;
	border-radius:5px;
	color:#5C5C5C;
	font-family:"Lucida Console", Monaco, monospace;
	font-size:24px;
	font-stretch:narrower;
	margin:6px 2px 6px 0px;
}
#main{
	float:left;
	background:#E3E3E3;
	height:650px;
	width:1000px;
	}
.left{
	float:left;
	margin:50px 0px 0px 200px;
	
	}
.right{
	float:right;
	margin:50px 200px 0px 50px;
	
	}
p{
	font-family:黑体;
	font-size:36px;
	font-weight:bold;

	margin-top:5px;
	text-align:center;
	
	}
#bottom{
	clear:both;
	color:#999;
	text-align:center;
	padding-top:50px;
	}
.information{
	height: 430px;
	float: left;
	width:1000px;
	text-align: left;
	}
.meeting_menu{
	width: 300px;
	float:left;
	margin:0px 0px 0px 0px;

}
.meeting_menu_button{
	list-style:none;
	display:block;
	border:#3890d7 2px solid;
	border-radius:5px;
	color:#3890d7;
	font-family:"Lucida Console", Monaco, monospace;
	font-size:24px;
	margin:20px 0px 50px 70px;
	padding:10px;
	font-stretch:narrower;
}
.meeting_information{
	width:700px;
	margin:0px 0px 0px 300px;
	
}
#addMeeting{
	float: left;
	width: 400px;
	
	margin: 0px 0px 0px 0px;
	text-align: center;
}
.others{
	float: left;
	width: 290px;
	height: 420px;
	border:#3890d7 2px solid;
	border-radius:5px;
	margin-top: 2px;
}

#addMeeting td{
	border:#3890d7 2px solid;
	border-radius:5px;
	font-family:"Lucida Console", Monaco, monospace;
	font-size:24px;
	padding:10px;
	margin:20px 0px 50px 0px;
}
#updateMeeting{
	float: left;
	width: 400px;
	
	margin: 0px 0px 0px 0px;
	text-align: center;
}
#updateMeeting td{
	border:#3890d7 2px solid;
	border-radius:5px;
	font-family:"Lucida Console", Monaco, monospace;
	font-size:18px;
	padding:10px;
	margin:20px 0px 50px 0px;
	
}
#findMeeting{
	border-collapse: collapse;
	float: left;
	width: 690px;
	margin: 0px 0px 0px 0px;
	text-align: center;
}
#findMeeting td{
	background-color: blueviolet;
	margin: 0px 0px 0px 0px;
}



#bottom{
	border-top:#3890d7 solid 2px;
	margin: 10px 0px 0px 0px;
}
